<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud Checking Dashboard</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="dashboard-container">
  <!-- Main Content -->
  <div class="content">
    <div class="text-content">
      <h1>FRAUD CHECKING</h1>
      <p>Deteksi Penipuan Transaksi dengan Mudah<br>
        Lindungi Transaksi Anda dari Risiko Penipuan</p>
      <button onclick="window.location.href='/login'">Get Started</button>
    </div>
    <div class="image-overlay"></div>
  </div>
</div>
</body>
</html>
