<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Manual</title>
  <link rel="stylesheet" href="/css/inputManual.css">
</head>
<body>cd

<form action="/inputManual" method="POST">
  <h2>Silahkan Isi Data Transaksi Anda!</h2>

  <label for="amount">Amount:</label>
  <input type="number" step="0.01" name="amount" id="amount" required>

  <label for="type_of_card">Type of Card:</label>
  <select name="type_of_card" id="type_of_card" required>
    <option value="">-- Select Type Of Card --</option>
    <option value="0">Visa</option>
    <option value="1">MasterCard</option>
  </select>

  <label for="entry_mode">Entry Mode:</label>
  <select name="entry_mode" id="entry_mode" required>
    <option value="">-- Select Entry Mode --</option>
    <option value="0">PIN</option>
    <option value="1">CVC</option>
    <option value="2">Tap</option>
  </select>

  <label for="type_of_transaction">Transaction Type:</label>
  <select name="type_of_transaction" id="type_of_transaction" required>
    <option value="">-- Select Type Of Transaction --</option>
    <option value="0">Online</option>
    <option value="1">ATM</option>
    <option value="2">POS</option>
  </select>

  <label for="country_of_transaction">Country Of Transaction:</label>
  <select name="country_of_transaction" id="country_of_transaction" required>
    <option value="">-- Select Country Of Transaction --</option>
    <option value="1">India</option>
    <option value="2">Russia</option>
    <option value="3">USA</option>
    <option value="4">UK</option>
    <option value="5">China</option>
  </select>

  <label for="gender">Gender:</label>
  <select name="gender" id="gender" required>
    <option value="">-- Select Gender --</option>
    <option value="0">Female</option>
    <option value="1">Male</option>
  </select>

  <label for="bank">Bank:</label>
  <select name="bank" id="bank" required>
    <option value="">-- Select Bank --</option>
    <option value="0">Barclays</option>
    <option value="1">Barlcays</option>
    <option value="2">HSBC</option>
    <option value="3">Halifax</option>
    <option value="4">Lloyds</option>
    <option value="5">Metro</option>
    <option value="6">Monzo</option>
    <option value="7">RBS</option>
  </select>

  <label for="day_of_week">Day of the Week:</label>
  <select name="day_of_week" id="day_of_week" required>
    <option value="">-- Select Day --</option>
    <option value="0">Monday</option>
    <option value="1">Tuesday</option>
    <option value="2">Wednesday</option>
    <option value="3">Thursday</option>
    <option value="4">Friday</option>
    <option value="5">Saturday</option>
    <option value="6">Sunday</option>
  </select>

  <button type="submit">Submit</button>
</form>
