<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV File</title>
    <link rel="stylesheet" href="/css/uploadFile.css">
</head>
<body>
<div class="container">
    <form action="/inputFile" method="POST" enctype="multipart/form-data">
        <h1>Upload Your CSV File!</h1>
        <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
