/* Styling untuk titik dan slide */
#menuToggle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

#menuToggle:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    margin: 10px auto;
}

#userMenu {
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#userMenu a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.open {
    display: block;
}